body {
  background-color: rgb(253, 251, 251);
  font-family: Comic Sans MS, cursive, sans-serif;
  font-size: 16px;
  letter-spacing: 2px;
  word-spacing: 2px;
  color: black;
  font-weight: 400;
  text-decoration: none;
  font-style: 400;
  font-variant: normal;
  text-transform: none;
  line-height: 20px;
}

#cabecalho {
  position: fixed;
  top: 0;
  width: 200px;
  height: 200px;
  background-color: white;
  border: 2px solid gray;
  margin: 20px;
  padding: 20px;
}

.container {
  display: flex;
  justify-content: space-evenly;
}

.lado-direito .lado-esquerdo {
  width: 40%;
}
